
table{
    border-collapse: collapse;
    width: 40%;
    height: 350px;
    border: 1px solid rgba(0,0,0,0.2);
    margin: 40px auto;
}

td{
    border: 1px solid rgba(0,0,0,0.2);
    padding: 10px;
}

.styledTd{
    background-color: lightblue;
    font-weight: 600;
}
